<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXwBH-YaZLMe6pcDpYQeZ7oJuDEY6KM3c</string>
	<key>GCM_SENDER_ID</key>
	<string>785862564230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buzz</string>
	<key>PROJECT_ID</key>
	<string>buzz-49bf5</string>
	<key>STORAGE_BUCKET</key>
	<string>buzz-49bf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785862564230:ios:2168bf693cec7af0097407</string>
</dict>
</plist>